
ul#nav li {
    
    display: block;
    
    background: #000;
    
    color: #FFF;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
}
ul#nav li:hover {
    background: #FFF;
    
    color: #000;
}
ul#nav > li ul {
    display: none;
    position: absolute;
}
.and:hover >ul li ul {
    display: block;
}
ul#nav > li ul li {
    display: block;
}