
.sectionDetails li {
    
    display: block;
    
    background: #000;
    
    color: #FFF;
    text-align: left;
    line-height: 30px;
    white-space: nowrap;
}

.sectionDetails > li ul {
    display: none;
    position: absolute;
}

.sectionDetails > li ul li {
    display: block;
}

 